# .github/workflows/ci.yml

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.9

      - name: Install dependencies
        run: bun install

      - name: Generate protobuf types
        run: bun run proto-gen

      - name: Run Biome lint
        run: bunx @biomejs/biome lint .

      - name: Run tests
        run: bun test